/* OTP container inside parent modal */
.otp-card {
  width: 100%;
  max-width: 100%;
  background: transparent;
  border-radius: 0;
  padding: 42px 46px 34px;
  text-align: center;
  position: relative;
  box-shadow: none;
}

/* icon */
.otp-iconWrap {
  display: grid;
  place-items: center;
  margin-bottom: 10px;
}

.otp-icon {
  width: 88px;
  height: 88px;
  display: grid;
  place-items: center;
  position: relative;
  color: #1f1f1f;
}

.otp-check {
  position: absolute;
  top: 4px;
  right: 6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #5dbb63;
  color: #fff;
  display: grid;
  place-items: center;
  font-weight: 900;
  border: 2px solid #fff;
  font-size: 14px;
}

/* text */
.otp-text {
  margin: 12px auto 22px;
  max-width: 520px;
  color: #1f2937;
  font-size: 15px;
  line-height: 1.5;
  position: relative;
  left: 50px;
  text-align:start;
}

/* otp boxes */
.otp-boxRow {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 12px 0 18px;
}

.otp-box {
  width: 62px;
  height: 70px;
  border-radius: 14px;
  border: 2px solid #cbd5e1;
  background: #a9d6d3;
  font-size: 30px;
  font-weight: 800;
  text-align: center;
  outline: none;
  color: #0f172a;
}

.otp-box:focus {
  border-color: #004d40;
  box-shadow: 0 0 0 4px rgba(0, 77, 64, 0.18);
}

/* resend */
.otp-resend {
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: underline;
  color: #004d40;
  font-weight: 700;
  margin: 2px 0 16px;
  position: relative;
  left: 70px;
}

.otp-resend:disabled {
  opacity: 0.55;
  cursor: not-allowed;
}

/* error */
.otp-error {
  font-size: 13px;
  color: #b00020;
  margin-bottom: 10px;
}

/* confirm button */
.otp-confirm {
  width: min(220px, 92%);
  height: 50px;
  border: none;
  border-radius: 999px;
  background-color: #004d40;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.4px;
  cursor: pointer;
}

.otp-confirm:disabled {
  opacity: 0.55;
  cursor: not-allowed;
}

.otp-close {
   display: none !important;
   }