*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
.bgimg{
 background : url(../img/userloginbg.png);
    background-color: #004D40;
      background-size: cover;          /* cover entire area */
  background-position: center;     /* center the image */
  background-repeat: no-repeat;    /* avoid repeating */
  min-height: 100vh;               /* full viewport height */
  display: flex;                   /* center content */
  justify-content: center;
  align-items: center;

}
.p, label{
  color:aqua
}
